@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Remove this client?</h2>

<h4>@Html.DisplayFor(model => model.ClientName)</h4>
@using (Html.BeginForm())
{
  <input type="submit" value="Remove" />
}
@Html.ActionLink("Back to Client List", "Index")