@* Homepage for clients!
Add an "if" statement to give option for adding a new client(create.cshtml)
Ex: not correct syntax
if @stylist.count == 0
{
  p> need to add a stylist before adding clients </p
  p> add a stylist here ((<actionlink to stylist/create>)) </p
}

Show a list of clickable clients to show their details(details.cshtml)

Or return to homepage *@

<h1>test</h1>