@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist!</h4>

@using (Html.BeginForm())
{
  <span>Enter Stylist's Name:</span>@Html.TextBoxFor(model => model.StylistName)<br/>
  <span>Enter Stylist's Specialty:</span>@Html.TextBoxFor(model => model.StylistSpecialty) <br />
  <input type="submit" value="Add a new Stylist" class="btn btn-default" />
}

<p>@Html.ActionLink("Show all Stylists!", "Index")</p>