@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Remove this stylist?</h2>

<p>Name: @Html.DisplayFor(model => model.StylistName)</p>
<p>Specialty: @Html.DisplayFor(model => model.StylistSpecialty)</p>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-default"/>
}
@Html.ActionLink("Cancel and Return to Details", "Index")